apiVersion: apps/v1
kind: Deployment
metadata:
  name: quikscribe-backend
  namespace: quikscribe
  labels:
    app: quikscribe-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: quikscribe-backend
  template:
    metadata:
      labels:
        app: quikscribe-backend
    spec:
      serviceAccountName: backend-sa
      nodeSelector:
        role: general
      containers:
        - name: backend
          image: 266735817130.dkr.ecr.us-east-1.amazonaws.com/quikscribe-backend:latest
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secrets
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 10
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
